body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    background-image: url(../image/nature.jpg);
    background-size: cover;
    height: 100vh;

    }

.contain {
    width: 320px;
    height: 390px;
    background: #8a8a8aa6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
}

.main_body img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    display: block;
    margin: 0 auto;
    position: relative;
    border: 3px solid #535353;
    margin-top: -55px;
}

input placeholder{
    font-family: 'Merriweather', serif;
}

button {
    display: block;
    width: 100%;
    padding: 8px;
    border: 1px solid #00cef9;
    background: #dfdfdf9e;
    border-radius: 5px;
    color: black;
    font-size: large;
    font-family: 'Merriweather', serif;
    transition: all 0.1s linear;
}


.main_body h3 {
    text-align: center;
    background: #00cef9;
    padding: 5px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px
}



.main_body label {
    display: block;
    margin-bottom: 8px;
    color: white;
}

span {
    color: white;
}


.main_body input[type="text"], [type="password"], [type="submit"] {
    width: 92%;
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid #52e2ff;
    font-size: 15px;
    padding: 12px;
    margin-left: 1px;
    background: #8e8e8e3b;
    border-radius: 5px;
}


::-webkit-input-placeholder{
color: white;
}



label {
    margin-left: 5px;
}


button:hover{
    display: block;
    width: 100%;
    padding: 8px;
    background: #00cef9;
    border-radius: 5px;
    color: white;
    font-size: large;
    font-family: 'Merriweather', serif;

}
a.forget:hover{
    margin-top: 15px;
    display: inline-block;
    margin-left: 5px;
    color: #00cef9;
    text-decoration: none;

}

input[type="checkbox"] {
    margin-bottom: 10px;
    margin-left: 10px;
}

a.forget {
    margin-top: 15px;
    display: inline-block;
    margin-left: 5px;
    color: white;
    text-decoration: none;
    transition: all 0.1s linear;
}


a.signup {
    text-decoration: none;
    color: white;
    transition: all 0.1s linear;
    margin-left: 10px;
}


a.signup:hover{
    color:#00cef9;;
}





.main_body [type="password2"],input[type="name"],[type="email"] {
    width: 92%;
    display: block;
    margin-bottom: 10px;
    border: 1px solid #52e2ff;
    font-size: 15px;
    padding: 12px;
    margin-left: 1px;
    background: #8e8e8e3b;
    border-radius: 5px;
    font-family: 'Merriweather', serif;
}

select {
    width: 100%;
    display: block;
    margin-bottom:5px;
    border: 1px solid #52e2ff;
    font-size: 15px;
    margin-top: 10px;
    padding: 10px;
    margin-left: 1px;
    background: #8e8e8e3b;
    border-radius: 5px;
    font-family: 'Merriweather', serif;
    color: white;
}

.contain2 {
    width: 320px;
    height: 470px;
    background: #8a8a8aa6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
    font-family: 'Merriweather', serif;
}

option {
    background: #928f8fc9;
    font-family: 'Merriweather', serif;
}

.gender {
    display: inline-block;
    margin-left: 8px;
    margin-top: 5px;
}


h5 {
    display: inline-block;
    margin-left: 5px;
}


.b2 {
    display: block;
    width: 100%;
    padding: 8px;
    border: 1px solid #00cef9;
    background: #dfdfdf9e;
    border-radius: 5px;
    color: black;
    font-size: large;
    font-family: 'Merriweather', serif;
    transition: all 0.1s linear;
}
